useDynLib(lagm, .registration = TRUE)
importFrom(Rcpp, evalCpp)
export(build_lagm_input)
export(calc_a_matrix)
export(calc_expected_heterozygosity)
export(calc_group_coancestry)
export(calc_inbreeding_proxy)
export(calc_normalized_gain)
export(calc_relationship_diversity)
export(compute_candidate_gebv)
export(compute_expected_heterozygosity_cpp)
export(compute_pair_gain_cpp)
export(compute_pair_relationship_diversity_cpp)
export(compute_vr2_grm)
export(create_candidate)
export(create_candidate_pool)
export(create_ped)
export(inject_gebv_into_pop)
export(lagm_mating)
export(lagm_plan)
export(lagm_relationship_score_grid_cpp)
export(lagm_score_grid_cpp)
export(make_bv_ebv)
export(make_lookahead_objective)
export(optimize_mating_plan_cpp)
export(stage_b_allocate)
export(validate_unique_ids)
